
body {
    color: #333;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

p {
    padding: 0;
}
.wrapper {
    margin: 0 auto;
    width: 300px;
}
.splash {
    color: #585b60;
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
    text-align: center;
}
.splash2 {
    color: #585b60;
    font-size: 1rem;
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: center;
}
.emailus {
    color: #1851ad;
    display: block;
    font-size: 1rem;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 95%;
}
