.headlineH1 {
  font-weight: 300;
  font-size: 2.875;
  color: #FFFFFF;

  &--centered {
    text-align: center;
  }

  &--orange {
    color: $mainOrange;
  }
}

.headlineH3 {
  font-weight: 300;
  font-size: 2.875;
  color: #FFFFFF;
  width: 400px;

  &--centered {
    margin: 0 auto;
  }

}
