.row {

  @mixin clearfix;

  &--gutters {
    margin-right: -65px;
  }

  &--gutters > div {
    padding-right: 65px;

  }

  @mixin atMedium {

    &__medium-4 {
      float: left;
      width: 30%;
    }

    &__medium-8 {
      float: left;
      width: 70%;
    }

    &__medium-6 {
      float: left;
      width: 50%;
    }
  }
}
