/* Equals Large-here */

.top-box {
  background-color: #95e8e4;
/*  border-bottom: 10px solid $mainBlue;
  position: relative;
*/
  &__image {
    display: block;
    padding: 0;
  }

  &__text-content {
    position: absolute;
    top: 20%;
    transform: translateY(10%);
    left: 0;
    width: 100%;
    text-align: center;

  }

  &__title {
    font-weight: 300;
    color: $mainBlue;
    font-size: 1.1rem;
    margin: 0;

    @mixin atSmall {
    font-size: 4.8rem;
    }
  }

  &__subtitle {
    max-width: 200px;
    font-weight: 100;
    color: #FFF;
    font-size: .8rem;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .5);
    margin-left: auto;
    margin-right: auto;
    line-height: 1rem;

    @mixin atSmall {
    font-size: 1.9rem;
    }
    @mixin atMedium {
    font-size: 1.9rem;
    max-width: 30rem;
    line-height: 2.5rem;
    }
    @mixin atLarge {
    font-size: 1.9rem;
    max-width: 30rem;
    line-height: 2.5rem;
    }
  }

  &__description {
    max-width: 100px;
    font-weight: 200;
    color: #FFF;
    font-size: .8rem;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .5);
    margin-left: auto;
    margin-right: auto;
    line-height: 1rem;

  }
}
